<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953423061157-70sd4vuj8jo6glksjflrt9ajst4mdjog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953423061157-70sd4vuj8jo6glksjflrt9ajst4mdjog</string>
	<key>API_KEY</key>
	<string>AIzaSyAk1-rHGXsFThBw4gxVRLxVVx5lqxwP1eE</string>
	<key>GCM_SENDER_ID</key>
	<string>953423061157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-app-6b37f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-app-6b37f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953423061157:ios:e33beac6e9956339f02d4c</string>
</dict>
</plist>